SURVEY_ADMIN_PASSWORD=change-me
SURVEY_PUBLIC_BASE_URL=https://citadl.gnosis.run
SURVEY_FRONTEND_ORIGIN=https://citadl.gnosis.run
SURVEY_PRODUCT_BUNDLE_DIR=/app/citadl/bundle

SURVEY_LLM_ENABLED=true
SURVEY_MINI_ENDPOINT_URL=http://mini:8080/v1
SURVEY_DYNAMO_ENDPOINT_URL=http://dynamo:1234/v1
SURVEY_LLM_TIMEOUT_SECONDS=60

SURVEY_SURREALDB_NAMESPACE=agentic
SURVEY_SURREALDB_DATABASE=citadl
SURVEY_SURREALDB_USER=root
SURVEY_SURREALDB_PASSWORD=root
